body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;

}

#myH1{
    font-size: 4rem;
    color: rgb(27, 27, 27);
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    border-radius: 50px;
    padding: 30px;
    background-color: white;
}

#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: rgb(24, 24, 24);
    text-shadow: 2px 2px 2px;
    margin-bottom: 25px;
}

#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;
}

#startBtn{
    background-color: green;
}

#startBtn:hover{
    background-color: rgb(3, 161, 3);
}

#stopBtn{
    background-color: red;
}

#stopBtn:hover{
    background-color: rgb(245, 57, 57);
}

#resetBtn{
    background-color: rgba(0, 102, 255, 0.785);
}

#resetBtn:hover{
    background-color: rgba(41, 127, 255, 0.785);
}